:root {
  --done-color: #0bb827;
  --in-progress-color: #0b65b8;
  --overdue-color: #b85e0b;
  --not-started-color: black;
  --primary-color: #797575;
}

.done-color {
  color: var(--done-color);
}

.done-bg {
  background-color: var(--done-color);
  background-image: none;
}

.in-progress-color {
  color: var(--in-progress-color);
}

.in-progress-bg {
  background-color: var(--in-progress-color);
  background-image: none;
}

.overdue-color {
  color: var(--overdue-color);
}

.overdue-bg {
  background-color: var(--overdue-color);
  background-image: none;
}

.not-started-color {
  color: var(--not-started-color);
}

.not-started-bg {
  background-color: var(--not-started-color);
  background-image: none;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #f9f4f4;
  color: black;
  transition: all 0.3s;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #f9f4f4;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.6em;
  display: block;
  padding-left: 20px;
  margin-bottom: 20px;
}

#sidebar ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

#sidebar ul li.active a {
  background: rgba(0, 0, 0, 0.1);
}

#content {
  padding: 10px;
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
  background-color: #f9f4f4;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    /* position: fixed;
    left: -250px;
    top: 0;
    z-index: 1000;
    min-height: 100vh; */
  }

  #sidebar.active {
    margin-left: 0;
    /* left: 0; */
  }
}

.primary-color {
  color: var(--primary-color);
}

.text-black {
  color: black;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-green {
  color: green;
}

.page-heading {
  font-weight: lighter;
  color: #0982a8;
  font-size: 6em;
}

.statistic-block {
  text-align: center;
}

.statistic-block .number {
  font-size: 7em;
}

.statistic-block .label {
  font-size: 2em;
  margin-top: 25px;
  color: black;
  font-weight: lighter;
}

.nav > li > a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
}

.table {
  font-size: 1.4em;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.custom-form .form-group {
  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 15px;
}

.custom-form .form-control {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding-left: 0;
  padding-right: 0;
  height: 30px;
  text-indent: 5px;
}

.custom-form textarea.form-control {
  height: auto;
}

.custom-form .form-group label {
  font-size: 1.4em;
  text-align: left;
  /* margin-left: 0 !important;
  margin-right: 0 !important; */
  margin-top: 5px;
}

.custom-form .help-block {
  font-size: 1.2em;
}

.custom-form .form-field {
  width: 100%;
  padding: 5px;
}

.custom-form .form-group .required-sign {
  color: #0982a8;
}

.custom-form .btn {
  padding-left: 30px;
  padding-right: 30px;
}

.project-member-area {
  text-align: center;
}
.project-member-area .project-member-block {
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 2em;
  line-height: 100px;
  margin: auto;
}

.project-member-area .project-member-full-name {
  font-size: 2.5em;
  margin-top: 15px;
}

.workload-block {
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.work-load-item .name {
  font-size: 1.4em;
}
.work-load-item .progress-bar {
  color: #fff;
  font-size: 1.2em;
}

.workload-status-area {
  margin-top: 15px;
}
.workload-status-area .workload-status-item {
  display: inline-block;
  margin-right: 10px;
}
.workload-status-area .square {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  border-radius: 2px;
}

.workload-status-area .status {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}

.task-chart-block {
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-right: 10px;
}

.task-details-area .task-detail-item {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.task-details-area .task-detail-item .field {
  color: var(--primary-color);
}

.task-details-area .task-detail-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-details-area .task-detail-item ul li {
  margin-bottom: 10px;
}

.task-detail-section-heading {
  color: #822323;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

ul.activity-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.activity-list li.activity-item {
  font-size: 1.4em;
  margin-bottom: 20px;
}

ul.activity-list .user,
ul.activity-list .status,
ul.activity-list .date {
  font-weight: bold;
}

/*==================================================
  Post Contents CSS
  ==================================================*/

.post-content {
  background: #f8f8f8;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  font-size: 1.2em;
}

.post-content img.post-image,
video.post-video,
.google-maps {
  width: 100%;
  height: auto;
}

.post-content .google-maps .map {
  height: 300px;
}

.post-content .post-container {
  padding: 20px;
}

.post-content .post-container .post-detail {
  margin-left: 65px;
  position: relative;
}

.post-content .post-container .post-detail .post-text {
  line-height: 24px;
  margin: 0;
}

.post-content .post-container .post-detail .reaction {
  position: absolute;
  right: 0;
  top: 0;
}

.post-content .post-container .post-detail .post-comment {
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm {
  margin-right: 10px;
}

.post-content .post-container .post-detail .post-comment .form-control {
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 7px 0;
  min-width: 0;
}

img.profile-photo-md {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

img.profile-photo-sm {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.text-green {
  color: #8dc63f;
}

.text-red {
  color: #ef4136;
}

.following {
  color: #8dc63f;
  font-size: 12px;
  margin-left: 20px;
}

.task-status {
  padding-left: 15px;
  padding-right: 15px;
}

.task-status .status-name {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.task-status .status-bar {
  height: 20px;
  border-radius: 10px;
}

.rounded-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 30px;
  border: 1px solid #ccc;
  font-size: 2em;
  text-align: center;
  margin-right: 10px;
}

.md-font-size {
  font-size: 1.4em;
}

.task-level .task-card {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 7px 5px 0px #debee4;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}

.task-level {
  margin-bottom: 40px;
}

.task-level .col-sm-4 {
  padding-right: 5px !important;
  padding-left: 5px !important;
  /* padding-bottom: 10px; */
}

.task-level .task-card {
  margin-bottom: 20px;
}
